{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="ru"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="ru"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="ru"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="ru"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="{{ html_lang }}"><!--<![endif]-->
<head>
     {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="tags for website">
    <meta name="description" content="UniCopyCenter">
    <meta name="author" content="Munis & Azer">

    <title>UniCopyCenter</title>

    <!-- injector:css -->
    <link rel="stylesheet" href="{% static 'css/design.min.css' %}">
    <!-- endinjector -->
        <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}">

    <!-- injector:js -->
    <script src="{% static 'js/min/assets/jquery.min.js' %}"></script>
    <script src="{% static 'js/min/assets/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/min/assets/filer.min.js' %}"></script>
    <script src="{% static 'js/min/assets/vide.min.js' %}"></script>
    <script src="/static/js/min/app.min_{{ html_lang }}.js"></script>
    <!-- endinjector -->
    <!-- GOOGLE ADD SENSE SCRIPT HERE -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7214744866940766",
        enable_page_level_ads: true
      });
    </script>

</head>

<body id="body">

<header>
 <nav class="navbar navbar-copy navbar-fixed-top">
     <div class="container">
         <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar first"></span>
                 <span class="icon-bar second"></span>
                 <span class="icon-bar third"></span>
             </button>
             <a class="navbar-brand" href="{% url 'index' %}">
                 <img src="{% static 'img/logo.png' %}" alt="logo" class="img-responsive pull-left">
                 <span class="brand hidden-xs text-white pull-left font-open-s-x-b">UniCopyCenter</span>
             </a>
         </div>
         <div class="collapse navbar-collapse" id="collapse1">
             <ul class="nav navbar-nav nav-lang font-open-s-x-b">
                 {% for lang in LANGUAGES %}
                    <li class="{% if html_lang == lang.0|slice:'1:3' %}active{% endif %}"><a href="/{{ lang.0 }}/{{ url }}">{{ lang.0 }}</a></li>

                 {% endfor %}
             </ul>
             <a href="#file" class="btn btn-green btnFile font-open-s-x-b pull-right" data-toggle="modal" data-target="#ModalFile">{% trans 'Fayl göndər' %}</a>
         </div>
     </div>
 </nav></header>

<div class="progress"></div>
<div class="logo"><img src="{% static 'img/logo.png' %}" class="img-responsive center-block"></div>
<div class="top cur-pot">
    <a href="#body" class="btn btn-blue"><i class="fa fa-chevron-up"></i></a>
</div>
<section class="section-video">
    <div id="videoblock" style="width: 100%; height: 480px;"></div>
</section>
<section class="section-whatis sectionAnimate text-black text-center font-open-s-r">
    <div class="container">
        <h6 class="title nm-t animated" data-direction="fadeInUp">{% trans 'UniCopyCenter Nədir?' %}</h6>
        <p class="desc center-block nm-b animated" data-direction="fadeInUp">
            {% trans 'UniCopyCenter  faylların(doc,docx,pdf,djvu) çap edilməsi üçün onlayn servisdir. Bizim komanda sizi məmnun etmək üçün əlindən gələni edir.' %}
        </p>
    </div>
</section>
<section class="section-whatfor sectionAnimate text-black font-open-s-r">
    <div class="container">
        <h6 class="title text-center nm-t animated" data-direction="fadeInUp">{% trans 'Sayt kimlər üçün nəzərdə tutulub?' %}</h6>
        <div class="row">
            <div class="col-md-5">
                <img src="{% static 'content/whatfor.jpg' %}" alt="whatfor" class="img-responsive animated" data-direction="fadeInUp">
            </div>
            <div class="col-md-7">
                <p class="desc animated" data-direction="fadeInUp">
                    {% trans 'Bu sayt ,əsasən, Azerbaycanın Ali təhsil məktəblərində oxuyan tələbələr,həmçinin fiziki şəxs üçün nəzərdə tutulub.Biz calışırıqki tələbələr( fiziki şəxslər) faylların çap oluması üçün vaxt itirməsinlər.' %}
                </p>
                <a class="btn btn-blue font-open-s-x-b animated" data-direction="fadeInUp" data-toggle="modal" data-target="#ModalFile">{% trans 'Fayl göndər' %}</a>
            </div>
        </div>
    </div>
</section>
<section class="section-aim sectionAnimate text-black font-open-s-r">
    <div class="container">
        <h6 class="title text-center nm-t animated" data-direction="fadeInUp">{% trans 'Bizim məqsədimiz' %}</h6>
        <div class="row">
            <div class="col-md-5">
                <img src="{% static 'content/mission.jpg' %}" alt="mission" class="img-responsive animated" data-direction="fadeInUp">
            </div>
            <div class="col-md-7">
                <p class="desc animated" data-direction="fadeInUp">
                    {% trans 'Bizim əsas məqsədimiz odurki faylları çap olunması üçün sizin  vaxtinızı qənaət etmek, həmçinin bizim ofisə gələrkən sənədlərinin artıq hazır olmasına əmin olsunlar' %}
                </p>
                <a class="btn btn-yellow font-open-s-x-b animated" data-direction="fadeInUp" data-toggle="modal" data-target="#ModalFile">{% trans 'Fayl göndər' %}</a>
            </div>
        </div>
    </div>
</section>
<section class="section-work sectionAnimate text-black">
    <div class="container">
        <h6 class="title text-center font-open-s-r nm-t animated" data-direction="fadeInUp">{% trans 'Sənədlərin göndərmə qaydaları' %}</h6>
        <div class="row">
            <div class="col-md-5">
                <img src="{% static 'content/documents.jpg' %}" alt="documents" class="img-responsive animated" data-direction="fadeInUp">
            </div>
            <div class="col-md-7">
                <ul class="nav nav-work font-open-s-b animated" data-direction="fadeInUp">
                    <li><span class="text-blue">1.</span> {% trans 'Sizin sənədləriniz gün ərzində qebul edilir(00:00 qədər).' %}</li>
                    <li><span class="text-blue">2.</span> {% trans 'Növbəti günündə, siz bizim ofisə gələrək, öz sənədləriniz vaxt itirmədən götürə bilərsiniz.' %}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-work sectionAnimate text-black">
    <div class="container">
        <h6 class="title text-center font-open-s-r nm-t animated" data-direction="fadeInUp">{% trans 'Bu necə işləyir?' %}</h6>
        <div class="row">
            <div class="col-md-5">
                <img src="{% static 'content/message.jpg' %}" alt="message" class="img-responsive animated" data-direction="fadeInUp">
            </div>
            <div class="col-md-7">
                <ul class="nav nav-work font-open-s-b animated" data-direction="fadeInUp">
                    <li><span class="text-blue">1.</span> {% trans 'Fayl göndərmək düyməsinə basın' %}</li>
                    <li><span class="text-blue">2.</span> {% trans 'Adınız,Soyadınızı daxil edin' %}</li>
                    <li><span class="text-blue">3.</span> {% trans 'Hansı Univerisitetdə oxuyursunuz' %}</li>
                    <li><span class="text-blue">4.</span> {% trans 'Hansı qrupda oxuyursunuz' %}</li>
                    <li><span class="text-blue">5.</span> {% trans 'Telefon nömrənizi daxil edin' %}</li>
                    <li><span class="text-blue">6.</span> {% trans 'Çap üçün faylı seçin' %}</li>
                    <li><span class="text-blue">7.</span> {% trans 'Çap olunacaq faylları seçin.' %}</li>
                    <li><span class="text-blue">8.</span> {% trans 'Fayl göndərmək düyməsinə basın' %}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-price sectionAnimate">
    <div class="container">
        <h6 class="title text-center text-black font-open-s-r nm-t animated" data-direction="fadeInUp">{% trans 'Xidmət Haqqı' %}</h6>
        <h2 class="text-center capit text-black font-open-s-r nm-t animated" data-direction="fadeInUp">{% trans 'ağ-qara' %}</h2>
        <div class="row flex">
            <div class="col-md-6">
                <h2 class="title-type text-center">{% trans 'Birüzlü' %}</h2>
                    <div class="col-md-6">
                        <div class="panel panel-pricing text-center nr animated" data-direction="fadeInUp">
                            <div class="panel-heading">
                                <p class="panel-title text-black font-open-s-s-b">{% trans '1-dən 100 -ə qədər' %}</p>
                            </div>
                            <div class="panel-body">
                                <h1 class="price text-blue font-open-s-b nm-t">3<sub class="sub-price">50</sub>{% trans 'qəp' %}</h1>
                            </div>
                            <div class="panel-footer bg-trns nb np-t np-b">
                                <a class="btn btn-blue btn-block text-center text-uppercase font-open-s-s-b" data-toggle="modal" data-target="#ModalFile">{% trans 'Fayl göndər' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-pricing text-center nr animated" data-direction="fadeInUp">
                            <div class="panel-heading">
                                <p class="panel-title text-black font-open-s-s-b">{% trans '100-dən artıq' %}</p>
                            </div>
                            <div class="panel-body">
                                <h1 class="price text-blue font-open-s-b nm-t">3<sub class="sub-price">00</sub>{% trans 'qəp' %}</h1>
                            </div>
                            <div class="panel-footer bg-trns nb np-t np-b">
                                <a class="btn btn-blue btn-block text-center text-uppercase font-open-s-s-b" data-toggle="modal" data-target="#ModalFile">{% trans 'Fayl göndər' %}</a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-6">
                <h2 class="title-type text-center">{% trans 'İkiüzlü' %}</h2>
                    <div class="col-md-6">
                        <div class="panel panel-pricing text-center nr animated" data-direction="fadeInUp">
                            <div class="panel-heading">
                                <p class="panel-title text-black font-open-s-s-b">{% trans '1-dən 100 -ə qədər' %}</p>
                            </div>
                            <div class="panel-body">
                                <h1 class="price text-blue font-open-s-b nm-t">5<sub class="sub-price">00</sub>{% trans 'qəp' %}</h1>
                            </div>
                            <div class="panel-footer bg-trns nb np-t np-b">
                                <a class="btn btn-blue btn-block text-center text-uppercase font-open-s-s-b" data-toggle="modal" data-target="#ModalFile">{% trans 'Fayl göndər' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-pricing text-center nr animated" data-direction="fadeInUp">
                            <div class="panel-heading">
                                <p class="panel-title text-black font-open-s-s-b">{% trans '100-dən artıq' %}</p>
                            </div>
                            <div class="panel-body">
                                <h1 class="price text-blue font-open-s-b nm-t">4<sub class="sub-price">50</sub>{% trans 'qəp' %}</h1>
                            </div>
                            <div class="panel-footer bg-trns nb np-t np-b">
                                <a class="btn btn-blue btn-block text-center text-uppercase font-open-s-s-b" data-toggle="modal" data-target="#ModalFile">{% trans 'Fayl göndər' %}</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <h2 class="text-center capit text-black font-open-s-r nm-t animated" data-direction="fadeInUp">{% trans 'rəngli' %}</h2>
        <div class="row flex">
            <div class="col-md-6">
                <h2 class="title-type text-center">{% trans 'Birüzlü' %}</h2>
                    <div class="col-md-6">
                        <div class="panel panel-pricing text-center nr animated" data-direction="fadeInUp">
                            <div class="panel-heading">
                                <p class="panel-title text-black font-open-s-s-b">{% trans '1-dən 100 -ə qədər' %}</p>
                            </div>
                            <div class="panel-body">
                                <h1 class="price text-blue font-open-s-b nm-t">5<sub class="sub-price">00</sub>{% trans 'qəp' %}</h1>
                            </div>
                            <div class="panel-footer bg-trns nb np-t np-b">
                                <a class="btn btn-blue btn-block text-center text-uppercase font-open-s-s-b" data-toggle="modal" data-target="#ModalFile">{% trans 'Fayl göndər' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-pricing text-center nr animated" data-direction="fadeInUp">
                            <div class="panel-heading">
                                <p class="panel-title text-black font-open-s-s-b">{% trans '100-dən artıq' %}</p>
                            </div>
                            <div class="panel-body">
                                <h1 class="price text-blue font-open-s-b nm-t">4<sub class="sub-price">50</sub>{% trans 'qəp' %}</h1>
                            </div>
                            <div class="panel-footer bg-trns nb np-t np-b">
                                <a class="btn btn-blue btn-block text-center text-uppercase font-open-s-s-b" data-toggle="modal" data-target="#ModalFile">{% trans 'Fayl göndər' %}</a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-6">
                <h2 class="title-type text-center">{% trans 'İkiüzlü' %}</h2>
                    <div class="col-md-6">
                        <div class="panel panel-pricing text-center nr animated" data-direction="fadeInUp">
                            <div class="panel-heading">
                                <p class="panel-title text-black font-open-s-s-b">{% trans '1-dən 100 -ə qədər' %}</p>
                            </div>
                            <div class="panel-body">
                                <h1 class="price text-blue font-open-s-b nm-t">7<sub class="sub-price">00</sub>{% trans 'qəp' %}</h1>
                            </div>
                            <div class="panel-footer bg-trns nb np-t np-b">
                                <a class="btn btn-blue btn-block text-center text-uppercase font-open-s-s-b" data-toggle="modal" data-target="#ModalFile">{% trans 'Fayl göndər' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-pricing text-center nr animated" data-direction="fadeInUp">
                            <div class="panel-heading">
                                <p class="panel-title text-black font-open-s-s-b">{% trans '100-dən artıq' %}</p>
                            </div>
                            <div class="panel-body">
                                <h1 class="price text-blue font-open-s-b nm-t">6<sub class="sub-price">50</sub>{% trans 'qəp' %}</h1>
                            </div>
                            <div class="panel-footer bg-trns nb np-t np-b">
                                <a class="btn btn-blue btn-block text-center text-uppercase font-open-s-s-b" data-toggle="modal" data-target="#ModalFile">{% trans 'Fayl göndər' %}</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</section>
<!-- Modal -->
<div class="modal modal-file fade" id="ModalFile" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body np">
                <form class="form form-file font-open-s-r" method="POST" enctype="multipart/form-data">
                    <div class="asset-main-class">
                        <div class="get-token">
                            <div class="hoц-фывьфац">
                                <div class="How-to-basic">
                                    <div class="affedirasda getcontextdata">
                                        {% csrf_token %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center text-uppercase font-open-s-b nm-t">
                        {% trans 'Sizin sənədləriniz gün ərzində qəbul olunacaq' %}
                    </h3>
                    <p class="text-center">{% trans 'Formanı doldurun' %}</p>
                    <p class="p-top text-center">{% trans 'və sizin müraciətiniz növbəti gün hazır olacaq' %}</p>
                    <div class="form-group">
                        <input type="text" name="full_name" class="form-control text-uppercase required" placeholder="{% trans 'Sizin adınız ve soyadınız' %}">

                    </div>

                    <div class="form-group">
                        <select name="student" name="check_user" class="student form-control text-uppercase select required">
                            <option selected disabled>{% trans 'Tələbəsiniz' %}</option>
                            <option value="1">{% trans 'Bəli' %}</option>
                            <option value="2">{% trans 'Xeyir' %}</option>
                        </select>
                    </div>
                    <div class="form-group hide" id="univercity">
                        <input type="text" name="universitet" class="form-control text-uppercase required" placeholder="{% trans 'Sizin universitet' %}">

                    </div>
                    <div class="form-group">
                        <select name="papertype" class="form-control text-uppercase select required">
                            <option selected disabled>{% trans 'Listin növünü seçin' %}</option>
                            <option value="1">{% trans 'Birüzlü' %}</option>
                            <option value="2">{% trans 'İkiüzlü' %}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="listtype" class="form-control text-uppercase select required">
                            <option selected disabled>{% trans 'Çap olunacaq faylın tipi:' %}</option>
                            <option value="1">{% trans 'ağ-qara' %}</option>
                            <option value="2">{% trans 'rəngli' %}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control text-uppercase required" placeholder="{% trans 'Sizin nömrəniz' %}">

                    </div>


                    <div class="form-group">
                        <input type="file" name="files[]" id="filer_input" multiple="multiple">
                    </div>
                    <div class="form-group" id="js-send">
                        <button type="submit" disabled class="btn btn-block btn-blue disabled text-center text-uppercase font-open-s-b nr ">{% trans 'Fayl göndər' %}</button>
                    </div>
                    <p class="p-bottom-top text-center">{% trans 'Sizin məlumatınızın təhlükəsizliyinə təminat verilir' %}</p>
                    <p class="p-bottom-bottom text-center">{% trans 'və üçüncü şəxsə məlumat verilməyəcək!' %}</p>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-alert fade" id="ModalAlert" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content nr">
            <div class="modal-body">
                 {% if messages %}

                        {% for message in messages %}
                        <p class="text-center font-open-s-r {% if message.tags %}{{ message.tags }}{% endif %}">
                            {{ message }}
                        </p>
                        {% endfor %}

                    {% endif %}
            </div>
        </div>
    </div>
</div>

<a class="btn btnAlert" data-toggle="modal" data-target="#ModalAlert"></a>

<footer class="footer sectionAnimate">
    <div class="container">
        <h6 class="title text-center text-black font-open-s-r nm-t animated" data-direction="fadeInUp">{% trans 'Bizim yerləşdiyimiz məkan' %}</h6>
        <p class="street text-black font-open-s-b animated" data-direction="fadeInUp"><i class="fa fa-university"></i> {% trans 'Metro 28 Maya yaxın.' %}</p>
        <p class="street text-black font-open-s-b animated" data-direction="fadeInUp"><i class="fa fa-envelope-o"></i> info@unicopycenter.com</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.3109578866374!2d49.84742742193041!3d40.37980029643605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307da78f00bb29%3A0x58adac400e0c11c5!2zMjgg0JzQsNGP!5e0!3m2!1sru!2s!4v1486410349333" allowfullscreen></iframe>
    </div>
</footer>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/58a16f2d5e0c3809ffa2f0f3/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<script>

    {% if messages %}
    $(document).ready(function(){
        $('.btnAlert').click();

    });
    {% endif %}

    button_name = "{% trans 'Fayl yüklə' %}";
    remove_file = "{% trans 'Siz faylı silməyə əminsiz' %}";
    limit_file = "{% trans 'Fayl yükləmək limiti ' %}";
    required = "{% trans 'Yalnız doc,docx və pdf format qəbul edilir' %}";
    big_fayl = "{% trans 'Çox böyük fayldır zəhmət olmasa 2 mb dan az həcmli fayl yükləyin' %}";
    loading = "{% trans 'fayl yüklənir' %}";

</script>
<!--<script src="//localhost:35729/livereload.js"></script>-->
</body>
</html>